@font-face {
  font-family: "EffraRegular";
  src: url("~assets/scss/fonts/Effra_Std_Rg.ttf") format("woff"),
    url("~assets/scss/fonts/Effra_Std_Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EffraMedium";
  src: url("~assets/scss/fonts/Effra_Std_Md.ttf") format("woff"),
  url("~assets/scss/fonts/Effra_Std_Md.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: effra;
  src: url("~assets/scss/fonts/Effra_Std_Rg.ttf") format("woff"),
  url("~assets/scss/fonts/Effra_Std_Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
